@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$font-lw: 'linowrite', sans-serif;
@font-face {
    font-family: 'Linowrite';
    src: url("../fonts/linowrite.ttf");
    font-weight: 400;
}
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap"; // body {
//   padding-top: 70px;
// }
body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    font-family: $font-lw;
    /*opacity: 0.3;*/
}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
a {
    cursor: pointer;
    @include transition(all ease 300ms);
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}
.blog {
    .inlblo {
        display: inline-block;
    }
    .place {
        background-color: black;
        margin: 0 300px;
        color: white;
        padding: 3px;
        font-size: 18px;
        font-family: $font-lw;
        span{
          text-transform: lowercase;
        }
    }
    .fa {
        color: #d8ba20;
    }
    .blog-head {
        font-family: $font-lw;
        .head {
            // font-weight: 600 !important;
            margin: 45px 0 0;
            padding-left: 24%;
            font-size: 40px;
            .fa-1 {
                font-size: 30px !important;
            }
        }
        .subhead {
            margin: 0 0 45px;
            padding-left: 62%;
            // font-weight: 600 !important;
        }
    }
        .mb60 {
            margin: 0 0 20px;
            height: 530px;
            .mb20 {
                margin-bottom: 10px;
                .circles {
                  background-repeat: no-repeat;
                   background-size: cover;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
                .cir-heads {
                    // padding: 0px;
                    // margin-top: 15px;
                    // margin-bottom: 15px;
                    padding-left: 10px;
                    .blog-name {
                        float: left;
                        font-family: linowrite;
                        font-size: 24px;
                      //   font-weight: 500;
                        margin: 0;
                        .fa-2 {
                            font-size: 20px !important;
                        }
                    }
                  }
                    .cir-head{
                      padding-left: 12px;
                    .blog-time {
                        margin: 0;
                        float: left;
                        // font-weight: 400;
                        font-size: 11px;
                    }
                }
            }
          .para{
            max-height:95px;
            overflow:hidden;
              margin: 0 0 15px;
             p {
            text-align: justify;
            margin:0;
            // font-weight: 600;
          }
        }
            .marbot {
                margin-bottom: 15px;
                overflow: hidden;
                height:200px;
                display: flex;
                align-items: center;
                img{
                  max-width: 100%;
                  max-height: 100%;
                  margin:0 auto;
                }
            }
            .tagging{
              max-height:95px;
              overflow:hidden;
              .tag {
                  // font-weight: 500;
                  margin-bottom: 15px;
                  h3 {
                      margin: 0;
                  }
              }
              .tag-name {
                margin-right: 2.5em;
                  ul {
                      display: block;
                      padding: 0;
                  }
                  li {
                      display: inline-block;
                      // padding: 0 5px 5px 0;
                      margin-right: 0.5em;
                          margin-bottom: 1em;
                      a {
                          padding: 4px 4px;
                          border: 1px solid #000;
                          color: black;
                          // font-weight: 600;
                      }
                  }
              }

            }
                    }
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
@import "mobile";
