<div class="blog text-center">
  <div class="container">
    <div class="place">
        <span>mumbai</span>
        <span>|</span>
        <span>chennai</span>
        <span>|</span>
        <span>sydney</span>
         <span>|</span>
        <span class="datecomes">april 14, 2016</span>
        <span>|</span>
        <span class="Datecomes">thursday</span>
      </div>
    <div class="row">
      <h1>"Tings we <i class="fa fa-heart"></i> on the Internet"</h1>
      <h4>-Tingdomites</h4>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="row">
          <div>
          <img src="img/logo.png" alt="" />
          </div>
          <!-- <div>
            <video src="videofile.ogg" autoplay poster="posterimage.jpg"></video>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-4">
          <img src="" alt="">
          </div>
          <div class="col-md-8">
            <p>Viraj <i class="fa fa-heart"></i> this</p>
            <span>23rd Feb 2016</span><span>|</span><span>7.00pm</span>
          </div>
        </div>
        <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="row">
          <h4>Tags:</h4>
          <div>
            <span>music</span>
            <span>music</span>
            <span>music</span>
            <span>music</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div>
          <img src="img/logo.png" alt="" />
          </div>
          <!-- <div>
            <video src="videofile.ogg" autoplay poster="posterimage.jpg"></video>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-4">
          <img src="" alt="">
          </div>
          <div class="col-md-8">
            <p>Viraj <i class="fa fa-heart"></i> this</p>
            <span>23rd Feb 2016</span><span>|</span><span>7.00pm</span>
          </div>
        </div>
        <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="row">
          <h4>Tags:</h4>
          <div>
            <span>music</span>
            <span>music</span>
            <span>music</span>
            <span>music</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div>
          <img src="img/logo.png" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          <img src="" alt="">
          </div>
          <div class="col-md-8">
            <p>Viraj <i class="fa fa-heart"></i> this</p>
            <span>23rd Feb 2016</span><span>|</span><span>7.00pm</span>
          </div>
        </div>
        <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="row">
          <h4>Tags:</h4>
          <div>
             <span>music</span>
             <span>music</span>
             <span>music</span>
             <span>music</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      <div class="row">
        <img src="img/loading.gif" alt="">
      </div>
      </div>

    </div>
  </div>
</div>
