<div class="blog">
  <div class="container">
    <div class="place text-center">
        <span>mumbai</span>&nbsp;
        <span>|</span>&nbsp;
        <span>chennai</span>&nbsp;
        <span>|</span>&nbsp;
        <span>sydney</span>&nbsp;
         <span>|</span>&nbsp;
        <span class="date">april 14, 2016</span>&nbsp;
        <span>|</span>&nbsp;
        <span class="day">thursday</span>
      </div>
    <div class="row blog-head">
      <h1 class="head">"Tings we <i class="fa fa-1 fa-heart"></i> on the Internet"</h1>
      <h3 class="subhead">- &nbsp;Tingdomites</h3>
    </div>

    <div class="row">

      <div class="col-md-3 mb20" style="">
        <div class="row">
          <div class="marbot">
          <img src="img/vir.jpg" alt="image" class="img-responsive">
          </div>
          <!-- <div>
            <video src="videofile.ogg" autoplay poster="posterimage.jpg"></video>
          </div> -->
        </div>
  <div class="row">
    <div class="col-md-4 cir-head">
      <img src="img/vir1.jpg" alt="image" class="img-responsive circles">
    </div>
    <div class="col-md-8 cir-heads">
      <div class="row">
        <p class="blog-name">Viraj <i class="fa fa-heart fa-2"></i> this</p>
      </div>
      <div class="row">
        <p class="blog-time">23rd Feb 2016&nbsp;<span>|</span>&nbsp;7.00pm</p>
      </div>
    </div>
  </div>
        <div class="row text-justify mb15">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="row">
          <h3 class="tag">Tags:</h3>
        </div>
        <div class="row tag-name">
          <span>Music</span>
          <span>Travelling</span>
          <span>Video Game</span>
          <span>Music</span>
        </div>
      </div>
      <div class="col-md-3 mb20" style="">
        <div class="row">
          <div class="marbot">
          <img src="img/vir.jpg" alt="image" class="img-responsive">
          </div>
          <!-- <div>
            <video src="videofile.ogg" autoplay poster="posterimage.jpg"></video>
          </div> -->
        </div>
  <div class="row">
    <div class="col-md-4 cir-head">
      <img src="img/vir1.jpg" alt="image" class="img-responsive circles">
    </div>
    <div class="col-md-8 cir-heads">
      <div class="row">
        <p class="blog-name">Viraj <i class="fa fa-heart fa-2"></i> this</p>
      </div>
      <div class="row">
        <p class="blog-time">23rd Feb 2016&nbsp;<span>|</span>&nbsp;7.00pm</p>
      </div>
    </div>
  </div>
        <div class="row text-justify mb15">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="row">
          <h3 class="tag">Tags:</h3>
        </div>
          <div class="row tag-name">
            <span>Music</span>
            <span>Travelling</span>
            <span>Video Game</span>
            <span>Music</span>
          </div>
      </div>
      <div class="col-md-3 mb20" style="">
        <!-- <div class="row">
          <div>
          <img src="img/vir.jpg" alt="image" class="img-responsive">
          </div>

        </div> -->
  <div class="row">
    <div class="col-md-4 cir-head">
      <img src="img/vir1.jpg" alt="image" class="img-responsive circles">
    </div>
    <div class="col-md-8 cir-heads">
      <div class="row">
        <p class="blog-name">Viraj <i class="fa fa-heart fa-2"></i> this</p>
      </div>
      <div class="row">
        <p class="blog-time">23rd Feb 2016&nbsp;<span>|</span>&nbsp;7.00pm</p>
      </div>
    </div>
  </div>
        <div class="row text-justify mb15">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="row">
          <h3 class="tag">Tags:</h3>
        </div>
        <div class="row tag-name">
          <span>Music</span>
          <span>Travelling</span>
          <span>Video Game</span>
          <span>Music</span>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-3 mb20">
      <div class="row">
        <img src="img/work.png" alt="work" class="img-responsive">
      </div>
      </div>
      <div class="col-md-3 mb20" style="">
        <div class="row">
          <div class="marbot">
          <img src="img/vir.jpg" alt="image" class="img-responsive">
          </div>
          <!-- <div>
            <video src="videofile.ogg" autoplay poster="posterimage.jpg"></video>
          </div> -->
        </div>
  <div class="row">
    <div class="col-md-4 cir-head">
      <img src="img/vir1.jpg" alt="image" class="img-responsive circles">
    </div>
    <div class="col-md-8 cir-heads">
      <div class="row">
        <p class="blog-name">Viraj <i class="fa fa-heart fa-2"></i> this</p>
      </div>
      <div class="row">
        <p class="blog-time">23rd Feb 2016&nbsp;<span>|</span>&nbsp;7.00pm</p>
      </div>
    </div>
  </div>
        <div class="row text-justify mb15">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="row">
          <h3 class="tag">Tags:</h3>
        </div>
          <div class="row tag-name">
            <span>Music</span>
            <span>Travelling</span>
            <span>Video Game</span>
            <span>Music</span>
          </div>
      </div>  <div class="col-md-3 mb20" style="">
          <div class="row">
            <div class="marbot">
            <img src="img/vir.jpg" alt="image" class="img-responsive">
            </div>
            <!-- <div>
              <video src="videofile.ogg" autoplay poster="posterimage.jpg"></video>
            </div> -->
          </div>
    <div class="row">
      <div class="col-md-4 cir-head">
        <img src="img/vir1.jpg" alt="image" class="img-responsive circles">
      </div>
      <div class="col-md-8 cir-heads">
        <div class="row">
          <p class="blog-name">Viraj <i class="fa fa-heart fa-2"></i> this</p>
        </div>
        <div class="row">
          <p class="blog-time">23rd Feb 2016&nbsp;<span>|</span>&nbsp;7.00pm</p>
        </div>
      </div>
    </div>
          <div class="row text-justify mb15">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="row">
            <h3 class="tag">Tags:</h3>
          </div>
            <div class="row tag-name">
              <span>Music</span>
              <span>Travelling</span>
              <span>Video Game</span>
              <span>Music</span>
            </div>
        </div>  <div class="col-md-3 mb20" style="">
            <div class="row">
              <div class="marbot">
              <img src="img/vir.jpg" alt="image" class="img-responsive">
              </div>
              <!-- <div>
                <video src="videofile.ogg" autoplay poster="posterimage.jpg"></video>
              </div> -->
            </div>
      <div class="row">
        <div class="col-md-4 cir-head">
          <img src="img/vir1.jpg" alt="image" class="img-responsive circles">
        </div>
        <div class="col-md-8 cir-heads">
          <div class="row">
            <p class="blog-name">Viraj <i class="fa fa-heart fa-2"></i> this</p>
          </div>
          <div class="row">
            <p class="blog-time">23rd Feb 2016&nbsp;<span>|</span>&nbsp;7.00pm</p>
          </div>
        </div>
      </div>
            <div class="row text-justify mb15">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="row">
              <h3 class="tag">Tags:</h3>
            </div>
              <div class="row tag-name">
                <span>Music</span>
                <span>Travelling</span>
                <span>Video Game</span>
                <span>Music</span>
              </div>
          </div>

    </div>
  </div>
</div>
